* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner-container {
    display: flex;
    gap: 20px;
    margin: auto;
}

.inner-container div {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.container {
    display: flex;
    height: 100vh;
    background-color: rgba(147, 147, 147, 0.289);
}

#div1 {
    background-color: red;
}
#div2 {
    background-color: orange;
}
#div3 {
    background-color: yellow;
}
#div4 {
    background-color: green;
}
#div5 {
    background-color: #4BCDFB;
}
#div6 {
    background-color: blue;
}
#div7 {
    background-color: blueviolet;
}